body {
    font-family: GT Standard Mono, monospace;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  form {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  input, button {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
  }
  button {
    cursor: pointer;
    font-family: GT Standard Mono, monospace;
  }
  table {
    width: 100%;
    background: white;
    margin-top: 20px;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }